include buildout.cfg
include bootstrap.py
include MANIFEST.in
include README.rst
include LICENSE
include blockdiag.1
include tox.ini
recursive-include examples blockdiagrc *.diag *.png *.svg
recursive-include src *.py *.diag *.gif

exclude .drone.io.sh
exclude examples/update.sh
